 <div class="container my-24 px-6 mx-auto">
        <!-- Section: Design Block -->
        <section class="mb-32 text-gray-800 text-center">
            <h2 class="text-3xl font-bold mb-12">Rejoins notre <u class="text-blue-600">club</u></h2>
            <div class="grid md:grid-cols-3 xl:grid-cols-4 gap-x-6 lg:gap-xl-12">
                <div class="mb-12">
                    <img src="assets/images/avatars/brian-hughes.jpg" class="rounded-full mx-auto shadow-lg mb-4" alt="avatar" style="max-width: 100px" />
                    <p class="font-bold mb-2">toto</p>
                    <p class="text-gray-500">tata</p>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </div>
